<div class="top-bar">
    <div class="right">
        <span class="logo">
            <img src="../../../assets/law.png">
        </span>
        <p class="title">
            Lawyerly
        </p>
    </div>

    <div class="left">
        <button class="top-bar-button bold" id="search" (click)="buttonClick('search')" mat-button routerLink="/search">Search</button>
        <button class="top-bar-button" id="documents" (click)="buttonClick('documents')" mat-button routerLink="/documents">Documents</button>
        <button class="top-bar-button" id="about" (click)="buttonClick('about')" mat-button>About Us</button>
    </div>
</div>