<div class="top-bar">
    <div class="left">
        <!-- <span class="logo">
            <img src="../../../assets/law.png">
        </span> -->
        <p class="title">
            theprecedent.ai
        </p>
    </div>

    <div class="right">
        <button class="top-bar-button bold" id="search" (click)="buttonClick('search')" mat-button routerLink="/search">Search</button>
        <button class="top-bar-button" id="chat" (click)="buttonClick('chat')" mat-button routerLink="/chat">Chat</button>
        <button class="top-bar-button" id="about" (click)="buttonClick('about')" mat-button>About Us</button>
    </div>
</div>