.top-bar {
    position: sticky;
    width: 98%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(247, 247, 247);
    z-index: 1000;
}

.right {
    display: flex;
}

.left {
    display: flex;
}

.top-bar-button {
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 300;
}

.title {
    font-size: 20px;
    padding-top: 5px;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.bold {
    font-weight: 600;
}

