<div class="home-screen-main">
    <div class="content">
        <div class="left">
            <p class="title">
                Redefine legal research with AI precision.
            </p>
        </div>
        <div class="right">
            <div class="login-box">
                <div class="login-box-title">
                    <p *ngIf="showSignUpBox">Let's get started...</p>
                    <p *ngIf="!showSignUpBox">Welcome back</p>
                </div>
                <div *ngIf="showSignUpBox">
                    <div class="search-bar">
                        <input [(ngModel)]="firstName" placeholder="First Name">
                    </div>
                    <div class="search-bar">
                        <input [(ngModel)]="lastName" placeholder="Last Name">
                    </div>
                    <div class="search-bar">
                        <input [(ngModel)]="email" placeholder="Email">
                    </div>
                    <div class="search-bar">
                        <input [(ngModel)]="password" type="password" placeholder="Password">
                    </div>
                    <div class="sign-in-up-button" [ngClass]="{'disabled-button' : disableSignUpButton()}">
                        <button (click)="SignUp()">{{ !isLoading ? 'Sign Up' : 'Please wait...'}}</button>
                    </div>
                </div>

                <div *ngIf="!showSignUpBox">
                    <div class="search-bar">
                        <input [(ngModel)]="email" placeholder="Email">
                    </div>
                    <div class="search-bar">
                        <input type="password" [(ngModel)]="password" placeholder="Password">
                    </div>
                    <div class="error-info-div">
                        <p *ngIf="error" class="error-message">{{error}}</p>
                    </div>
                    <div class="sign-in-up-button" [ngClass]="{'disabled-button' : disableSignInButton()}">
                        <button (click)="SignIn()">{{ !isLoading ? 'Sign In' : 'Please wait...'}}</button>
                    </div>
                </div>
                <div class="login-footer">
                    <p *ngIf="showSignUpBox" class="muted">Already have an account? <button class="borderless-button" (click)="showSignUpBox = !showSignUpBox">Sign In here</button></p>
                    <p *ngIf="!showSignUpBox" class="muted">Don't have an account? <button class="borderless-button" (click)="showSignUpBox = !showSignUpBox">Sign Up here</button></p>
                </div>
            </div>
        </div>
    </div>
</div>