<div class="home-screen-main">
    <div class="content">
        <div class="left">
            <p class="title">
                Redefine legal research with AI precision.
            </p>
        </div>
        <div class="right">
            <div class="login-box">
                <div class="login-box-title">
                    <p>Let's get started...</p>
                </div>
                <div class="search-bar">
                    <input [(ngModel)]="firstName" placeholder="Name">
                </div>
                <div class="search-bar">
                    <input [(ngModel)]="lastName" placeholder="Name">
                </div>
                <div class="search-bar">
                    <input [(ngModel)]="email" placeholder="Email">
                </div>
                <div class="search-bar">
                    <input [(ngModel)]="password" type="password" placeholder="Password">
                </div>
                <div class="sign-in-up-button" [ngClass]="{'disabled-button' : disableSignUpButton()}">
                    <button (click)="SignUp()">Sign Up</button>
                </div>
                <div class="login-footer">
                    <p class="muted">Already have an account? Click here!</p>
                </div>
            </div>
        </div>
    </div>
</div>