.search-main {
    display: flex;
    height: 90vh;
}

.search-section {
    margin: auto;
}

.search-logo {
    display: flex;
    padding: 30px 10px;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.search-logo p {
    font-weight: 600;
    font-size: 25px;
}

.search-bar {
    display: flex;
    border-radius: 20px;
    background-color: rgb(234, 234, 234);
    width: 600px;
    max-width: 85%;
    padding: 10px 10px;
    margin: auto;
}

.search-bar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #000000; /* Text color */
    font-size: 13px;
    padding: 5px; /* Padding for input */
    flex: 1;
}

.search-bar button {
    background-color:rgb(61, 61, 61);
    border: none;
    border-radius: 50%; /* Make the button circular */
    padding: 8px;
    margin-left: 8px; /* Space between input and button */
    cursor: pointer;
    color: white; /* Button text/icon color */
    font-size: 14px; /* Font size for button */
}

#search-results {
    width: 100%;
    height: 95vh;
    overflow-y: scroll;
}

.footnote {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    width: 100%;
    height: 5%;
}

.footnote p {
    font-style: italic;
    font-weight: 600;
    font-size: 10px;
    color: rgb(101, 101, 101);
    margin: auto;
}